In [1]:
import pandas as pd
df = pd.read_csv('Airports2.csv')
df

,Origin_airport,Destination_airport,Origin_city,Destination_city,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long
0,MHK,AMW,"Manhattan, KS","Ames, IA",21,30,1,254,2008-10-01,122049,86219,39.140999,-96.670799,NaN,NaN
1,EUG,RDM,"Eugene, OR","Bend, OR",41,396,22,103,1990-11-01,284093,76034,44.124599,-123.211998,44.254101,-121.150002
2,EUG,RDM,"Eugene, OR","Bend, OR",88,342,19,103,1990-12-01,284093,76034,44.124599,-123.211998,44.254101,-121.150002
3,EUG,RDM,"Eugene, OR","Bend, OR",11,72,4,103,1990-10-01,284093,76034,44.124599,-123.211998,44.254101,-121.150002
4,MFR,RDM,"Medford, OR","Bend, OR",0,18,1,156,1990-02-01,147300,76034,42.374199,-122.873001,44.254101,-121.150002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3606798,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",281,969,51,119,2009-02-01,2828990,46457,38.748699,-90.370003,37.741600,-92.140701
3606799,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",245,1026,54,119,2009-11-01,2828990,46457,38.748699,-90.370003,37.741600,-92.140701
3606800,STL,TBN,"St. Louis, MO","Fort Leonard Wood, MO",363,1273,67,119,2009-08-01,2828990,46457,38.748699,-90.370003,37.741600,-92.140701
3606801,CGI,TBN,"Cape Girardeau, MO","Fort Leonard Wood, MO",2,19,1,146,2009-08-01,93712,46457,37.225300,-89.570801,37.741600,-92.140701
3606802,FWA,OH1,"Fort Wayne, IN","Washington Court House, OH",0,0,1,135,2003-09-01,398574,28133,40.978500,-85.195099,NaN,NaN

In [2]:
# Updated Code Using MapReduce Paradigm
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import time

# Initialize Spark session
spark = SparkSession.builder \
    .appName("MapReduceConnectedComponents") \
    .master("local[*]") \
    .config("spark.executor.memory", "4g") \
    .config("spark.driver.memory", "4g") \
    .getOrCreate()

# Suppose you already have a Pandas DataFrame called 'df'.
# Convert Pandas DataFrame to PySpark DataFrame.
spark_df = spark.createDataFrame(df)  # Create the DataFrame first
spark_df = spark_df.withColumn("Fly_date", F.to_date("Fly_date", "yyyy-MM-dd"))  # Ensure Fly_date is of type DateType

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/29 16:15:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark_df.printSchema()

root
 |-- Origin_airport: string (nullable = true)
 |-- Destination_airport: string (nullable = true)
 |-- Origin_city: string (nullable = true)
 |-- Destination_city: string (nullable = true)
 |-- Passengers: long (nullable = true)
 |-- Seats: long (nullable = true)
 |-- Flights: long (nullable = true)
 |-- Distance: long (nullable = true)
 |-- Fly_date: date (nullable = true)
 |-- Origin_population: long (nullable = true)
 |-- Destination_population: long (nullable = true)
 |-- Org_airport_lat: double (nullable = true)
 |-- Org_airport_long: double (nullable = true)
 |-- Dest_airport_lat: double (nullable = true)
 |-- Dest_airport_long: double (nullable = true)

In [4]:
spark_df.select("Fly_date").show(5, truncate=False)

24/12/29 16:17:05 WARN TaskSetManager: Stage 0 contains a task of very large size (26234 KiB). The maximum recommended task size is 1000 KiB.
24/12/29 16:17:10 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 0 (TID 0): Attempting to kill Python Worker

+----------+
|Fly_date  |
+----------+
|2008-10-01|
|1990-11-01|
|1990-12-01|
|1990-10-01|
|1990-02-01|
+----------+
only showing top 5 rows